G2P_SPAR_BENE_PORTAL_API_DB_DBNAME=openg2p_spar_db
G2P_SPAR_BENE_PORTAL_API_WORKER_TYPE=gunicorn
G2P_SPAR_BENE_PORTAL_API_HOST=0.0.0.0
G2P_SPAR_BENE_PORTAL_API_NO_OF_WORKERS=1
G2P_SPAR_BENE_PORTAL_API_DB_USERNAME=postgres
G2P_SPAR_BENE_PORTAL_API_DEFAULT_ISSUERS=["http://localhost:8080/realms/openg2p-beneficiary"]
G2P_SPAR_BENE_PORTAL_API_DEFAULT_JWKS_URLS=["http://localhost:8080/realms/openg2p-beneficiary/protocol/openid-connect/certs"]
